body{
    background-color: rgb(44, 45, 50);
}
.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    /* margin-top: 100px; */
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 30%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: all 0.8s linear;
    /* animation: anime 3s linear infinite; */
}
/* @keyframes anime{
    from{
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: perspective(1000px) rotateX(0deg) rotateY(360deg);
    }
} */
.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
    rotateY(calc((var(--position) - 1)* (360 / var(--quantity)) * 1deg))
    translateZ(550px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width=360px) {
    body{
        background-color: rgb(44, 45, 50);
    }
    .banner{
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: hidden;
        position: relative;
        /* margin-top: 100px; */
    }
    .banner .slider{
        position: absolute;
        width: 200px;
        height: 250px;
        top: 30%;
        left: calc(50% - 100px);
        transform-style: preserve-3d;
        transform: perspective(1000px);
        transition: all 1s linear;
        /* animation: anime 15s linear infinite; */
    }
    .banner .slider .item{
        position: absolute;
        inset: 0 0 0 0;
        transform: 
        rotateY(calc((var(--position) - 1)* (360 / var(--quantity)) * 1deg))
        translateZ(550px);
    }
    .banner .slider .item img{
        width: 40%;
        height: 40%;
        object-fit: cover;
    }
}
.btn-div{
    width: calc(100% - 100px);
    height: 30px;
    margin: auto;
    position: absolute;
    top: 270px;
    left: 48px;
    display: flex;
    justify-content: space-around;

}
.btn{
    padding: 20px;
    background-color: rgb(109, 114, 118);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    transform: scale(2);
    background-color: bisque;
    transition: all 0.3s linear;
    color: black;
}
.btn:not(:hover){
    transform: scale(1);
    background-color: rgb(109, 114, 118);
    transition: all 0.5s linear;
    color: white;
}